{{>navbar}}
<main>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Codigo</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Stock</th>
          <th>Categoria</th>
          <th>Thumbnails</th>
        </tr>
      </thead>
      <tbody id="productsContainer">
        {{#each products}}
          <tr>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{code}}</td>
            <td>${{price}}</td>
            <td>{{status}}</td>
            <td>{{stock}}</td>
            <td>{{category}}</td>
            <td>{{thumbnails}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cart.js"></script>